{% extends 'base.html.twig' %}

{% block header %}
    <a href="{{ path('workshop_show', {'id': workshop.id}) }}" class="btn btn-secondary mt-3">Retour</a>
    <h2 class="text-white">Ajouter une seance</h2>
{% endblock %}


{% block body %}
  <div class="form-container">


    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

        <div class="form-group">
          {{ form_label(form.titre) }}
          {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
          <div class="error-message">
              {{ form_errors(form.titre) }}
           </div>
        </div>

        <div class="form-group">
          {{ form_label(form.date) }}
          {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
          <div class="error-message">
             {{ form_errors(form.date) }}
          </div>
        </div>

        <div class="form-group">
          {{ form_label(form.temps) }}
          {{ form_widget(form.temps, {'attr': {'class': 'form-control'}}) }}
          <div class="error-message">
            {{ form_errors(form.temps) }}
          </div>
        </div>

        <div class="form-group">
          {{ form_label(form.duree) }}
          {{ form_widget(form.duree, {'attr': {'class': 'form-control'}}) }}
          <div class="error-message">
            {{ form_errors(form.duree) }}
          </div>
        </div>

        <button type="submit" class="btn-success">Créer</button>

        {{ form_end(form) }}
    </div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('seance-form');

        form.addEventListener('submit', function (event) {
            let errors = [];

            // Sélection des champs par leur nom
            const titre = document.querySelector('#seance_titre');
            const date = document.querySelector('#seance_date').value;
            const temps = document.querySelector('#seance_temps').value;
            const duree = document.querySelector('#seance_duree').value;

            // Effacer les erreurs affichées
            const errorElements = document.querySelectorAll('.error-message');
            errorElements.forEach(function(element) {
                element.innerHTML = '';
            });

            // Vérifications
            if (titre.value.length < 5) {
                errors.push({ field: "titre", message: "Le titre doit contenir au moins 3 caractères." });
            }

            if (!date) {
                errors.push({ field: "date", message: "Veuillez sélectionner une date valide." });
            }

            if (!temps) {
                errors.push({ field: "temps", message: "Veuillez sélectionner une heure valide." });
            }

            if ((duree <= 0)&& (duree >= 5)) {
                errors.push({ field: "duree", message: "La durée doit être supérieure etre entre 1 rt 5." });
            }

            // Affichage des erreurs et empêchement de la soumission
            if (errors.length > 0) {
                event.preventDefault();

                errors.forEach(function(error) {
                    const errorContainer = document.querySelector(`#seance_${error.field}`).parentNode.querySelector('.error-message');
                    if (errorContainer) {
                        errorContainer.innerHTML = error.message;
                    }
                });
            }
        });
    });
  </script>
{% endblock %}
