{# templates/home/index.html.twig #}
{% extends 'base2.html.twig' %}



{% block body %}
    

<div class="header-carousel owl-carousel">
    <!-- Slide 1 -->
    <div class="header-carousel-item">
        <img src="{{ asset('front/img/cul1.jpg') }}" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <div class="carousel-caption-content p-3">
                <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">EXPÉRIENCE CULTURELLE</h5>
                <h1 class="display-1 text-capitalize text-white mb-4">Découvrez le Monde avec TuniVibe</h1>
                <p class="mb-5 fs-5">
                    Plongez dans une aventure culturelle unique et connectez-vous avec des personnes partageant les mêmes passions.
                </p>
                <a class="btn custom-carousel-btn rounded-pill py-3 px-5" href="{{ path('app_register') }}">Rejoindre la Communauté</a>
            </div>
        </div>
    </div>

    <!-- Slide 2 -->
    <div class="header-carousel-item">
        <img src="{{ asset('front/img/cul2.jpg') }}" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <div class="carousel-caption-content p-3">
                <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">EXPÉRIENCE SOCIALE</h5>
                <h1 class="display-1 text-capitalize text-white mb-4">Rencontrez, Partagez, Échangez</h1>
                <p class="mb-5 fs-5 animated slideInDown">
                    Participez à des événements, ateliers et rencontres enrichissantes avec notre communauté dynamique.
                </p>
                <a class="btn custom-carousel-btn rounded-pill py-3 px-5" href="{{ path('app_register') }}">Rejoindre la Communauté</a>
            </div>
        </div>
    </div>

    <!-- Slide 3 -->
    <div class="header-carousel-item">
        <img src="{{ asset('front/img/cul3.jpg') }}" class="img-fluid w-100" alt="Image">
        <div class="carousel-caption">
            <div class="carousel-caption-content p-3">
                <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">TUNIVIBE</h5>
                <h1 class="display-1 text-capitalize text-white mb-4">Vivez des Moments Inoubliables</h1>
                <p class="mb-5 fs-5 animated slideInDown">
                    Élargissez vos horizons à travers des voyages, des découvertes culturelles et des activités immersives.
                </p>
                <a class="btn custom-carousel-btn rounded-pill " href="{{ path('app_register') }}">Rejoindre la Communauté</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}





