{# templates/programme/show.html.twig #}

<h1>Programme : {{ programme.nom }}</h1>
<p>Lieu:</strong> {{ programme.lieu}}</p>
<p><strong>Date début:</strong> {{ programme.dateDebut|date('d/m/Y H:i') }}</p>
<p><strong>Date fin:</strong> {{ programme.dateFin|date('d/m/Y H:i') }}</p>
<p><strong>Description:</strong> {{ programme.description }}</p>

<a href="{{ path('programme_edit', {'id': programme.id}) }}">Modifier</a>
<a href="{{ path('programme_delete', {'id': programme.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce programme?')">Supprimer</a>

<a href="{{ path('programme_new', {'hebergementId': hebergement.idhebergement}) }}">Ajouter un programme</a>
